.template-modern {
  width: 750px;
  margin: auto;
  display: flex;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,.1);
  overflow: hidden;
}

.template-modern .left {
  width: 35%;
  background: #204b46;
  color: white;
  text-align: center;
  padding: 30px;
}

.template-modern .profile {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.template-modern .right {
  width: 65%;
  padding: 30px;
}

.template-modern h3 {
  margin-top: 25px;
  border-bottom: 2px solid #204b46;
  padding-bottom: 5px;
}
.resume-wrapper {
  width: 800px;
  padding: 30px;
  margin: auto;
  background: #ffffff;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  box-shadow: 0 0 12px rgba(143, 118, 118, 0.15);
}

.resume-wrapper h1 {
  font-size: 32px;
  color: #2c3e50;
  text-align: center;
  margin-bottom: 10px;
}

.resume-wrapper h2 {
  margin-top: 25px;
  border-bottom: 2px solid #2c3e50;
  padding-bottom: 5px;
  font-size: 22px;
}

.resume-wrapper p {
  font-size: 16px;
  margin-top: 5px;
}
